@import url("https://fonts.googleapis.com/css2?family=Caveat&family=DynaPuff&family=Montserrat:wght@500&display=swap");

body {
  font-family: "DynaPuff", cursive;
  background: #ffd160;
}

span {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 7px 7px rgb(255, 173, 0), 18px 18px black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #e6e6e6;
}
